.width-4-5-rem{
    width: 4.5rem;
}
.width-9-5-rem{
    width:9.92rem;
}
@media only screen and (max-width:768px) {
    .width-4-5-rem{
        width: 3.8rem;
    }
    .width-9-5-rem{
        width: 8.82rem;
    }
}