.width-4-5-rem{
    width: 22%;
}
.width-9-5-rem{
    width:47.5%;
}
@media only screen and (max-width:768px) {
    .width-4-5-rem{
        width: 21%;
    }
    .width-9-5-rem{
        width: 46.5%;
    }
}
@media only screen and (max-width:360px) {
    .width-4-5-rem{
        width: 20.69%;
    }
    .width-9-5-rem{
        width: 47%;
    }
}
/* @media only screen and (max-width:344px) {
    .width-4-5-rem{
        width: 20.69%;
    }
    .width-9-5-rem{
        width: 46.8%;
    }
} */